#technology{
    width: 100%;
}
.technology__container {
  display:grid;
  grid-template-columns:repeat(1fr,1fr);
}

.technology__container > div {
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 100%;
}

.technology__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.technology__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.technology__content {
        display: grid;
        grid-template-columns: 50% 50%;

}

.technology__details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    width: 100%;
}

.technology__details > div{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
    padding: 2rem;
    min-width: 300px;
}

.technology__details > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.technology__details-icon {
    margin-top: 6px;
    color: var(--color-primary);

}

/*************meddian querries*******/
@media screen and (max-width:1024px) {

    .container{
        width: var(--container-width-md);
    }

    .technology__content{
        grid-template-columns: 100%;
    }
    .technology__details {
        grid-template-columns: 100%;
    }   
}

@media screen and (max-width:600px) {

    .container{
        width: var(--container-width-sm);
    }

    .technology__container {
        gap: 1rem;
    }

    .technology__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}